[winUpdater]
	recentlySeenVersion = 2.25.0.windows.1
[user]
	email = noreply
	name = Kyle
[core]
	editor = nvim
    autocrlf = true
	sshCommand = 'C:\\Windows\\System32\\OpenSSH\\ssh.exe'
[alias]
    lg = log --all --decorate --oneline --graph -30
    lga = log --all --decorate --oneline --graph
    undo = reset --soft HEAD~1
    nah = !git reset --hard && git clean -df
    fu = !git commit --fixup=HEAD && git rebase --autosquash HEAD~2
